
<template name="app">
    <style>
        body{
            margin: 0;
            padding: 8px;
        }
        .userbar{
            margin-bottom: 4px;
            border: 2px solid #E6E6E6;
            border-radius: 4px;
            padding: 8px;
            display: table;
            width: 100%;
            position: relative;
        }
        .userbar img.head{
            float: left;
            margin-right: 12px;
        }
        .userbar .nickname{
            font-size: 2em;
            font-weight: bold;
            margin-top: 8px;
        }
        .userbar .total{
            font-size: 1.1em;
            margin-top: 8px;
            position: absolute;
            bottom: 8px;
            right: 8px;
        }
        #pnl-donation .cap{
            margin: 8px;
        }
        #pnl-donation .weight{
            text-align: center;
        }
        #pnl-donation .weight .num{
            font-size: 4em;
            font-weight: bold;
        }
        #pnl-donation .weight .unit{
            font-size: 2em;
        }
        #pnl-history .donation{

        }
    </style>
    <div class="userbar">
        <img class="head" width="80" src="{{userHead}}">
        <div class="nickname">{{userName}}</div>
        <div class="total">累计捐赠: {{totalWeight}}</div>
    </div>
    <div class="main">
        <ul class="nav nav-tabs">
            <li role="presentation" class="donation active">
                <a href="#pnl-donation">本次捐赠</a>
            </li>
            <li role="presentation" class="history">
                <a href="#pnl-history">捐赠历史</a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="pnl-donation">
                <div class="cap">本次捐赠重量:</div>
                <div class="weight">
                    <span class="num">{{curWeight}}</span>
                    <span class="unit">g</span>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="pnl-history">
                {{#each donations}}
                    <div class="donation">

                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</template>
